# dependencies
**/node_modules/**

# ide
**/.idea/**
**/.vscode/**

# macOS
.DS_Store
**/.DS_Store

# transpiled .js files
packages/**/dist

# coverage reports
**/coverage/**

# config
**/core/sdksetup/config*.json