# dependencies
**/node_modules/**

# ide
**/.idea/**
**/.vscode/**

# macOS
.DS_Store
**/.DS_Store

# transpiled .js files
packages/**/dist
packages/sdk-core/build/
packages/sdk-core/*.tsbuildinfo

# coverage reports
**/coverage/**

# config
**/core/sdksetup/config*.json
