.cart-add-to-cart-button-button{
	@extend .sc-value;
	@extend .sc-value;
	width: 100%;
 	font-weight: 12px;
 	margin-top: 15px;
}

.cart-add-to-cart-button {
	position: static;
}

.cart-add-to-cart-button-container {
	color: inherit;
}