.home-cms {
	color: inherit;
}

.home-cms-page-banner-bottom-content {
    color: inherit;
}
.home-cms-page-banner-bottom {
    color: inherit;
}
.home-cms-page-banner-bottom-main {
    color: inherit;
}


