.login-register-forgot-password-body{

	background-color: red;
	margin-top: 15px;
	margin-right: - 15px;
	margin-left:  - 15px;
	padding:12px;

	@media (min-width: $screen-sm-min){
		margin-right: 0;
		margin-left:  0;
		padding: 12px;
	}
}

.login-register-forgot-password-description{
	margin-top: 15px;
}

.login-register-forgot-password-form{
	margin-top: 15px;
	.global-views-message {
		margin-bottom: 0;
	}
}

.login-register-forgot-password-form-controls-group{
	margin-top: 15px;
}



.login-register-forgot-password-form-required{
	@extend .sc-value;
}

.login-register-forgot-password-form-input{
	@extend .sc-value;
}

.login-register-forgot-password-submit{
	@extend .sc-value;
	@extend .sc-value;
}

.login-register-forgot-password-sign-in{
	display:inline-block;
	margin-top: 15px;
}



