const SuiteCloudJestUnitTestRunner = require('@oracle/netsuite-suitecloud-testing-framework/services/SuiteCloudJestUnitTestRunner');

module.exports = {
	defaultProjectFolder: 'src',
	commands: {
		deploy: {
			beforeExecuting: async args => {
				await SuiteCloudJestUnitTestRunner.run({jestOptions : args});
				return args;
			},
		},
	},
};