const jest = require('jest');
const suiteCloudUnitTestRunner = require('@oracle/netsuite-suitecloud-node-cli/testing-framework/services/SuiteCloudUnitTestRunner');

module.exports = {
	defaultProjectFolder: 'src',
	commands: {
		deploy: {
			beforeExecuting: async args => {
				await suiteCloudUnitTestRunner.run({jestOptions : args});
				return args;
			},
		},
	},
};