const SuiteCloudJestConfiguration = require("@oracle/netsuite-suitecloud-testing-framework/jest-configuration/SuiteCloudJestConfiguration");
const cliConfig = require("./cli-config");

module.exports = SuiteCloudJestConfiguration.build({
	projectFolder: cliConfig.defaultProjectFolder,
	projectType: {{projectType}},
});
