import record from "N/record";

jest.mock("N/record");

beforeEach(() => {
	jest.clearAllMocks();
});

describe("Sample test", () => {
	it("should do something", () => {
		// given
		var stub = {
			// some function here
		};
		record.create.mockReturnValue(stub);
	});
});