.transaction-line-views-price-lead{
	@extend .sc-value;
}

.transaction-line-views-price-old{
	@extend .sc-value;
}

.transaction-line-views-price-login-to-see-prices-highlighted {
	margin-top: 15px;
    margin-bottom: 15px;
}

.transaction-line-views-price-message {
	font-weight: normal;
}



