.transaction-line-views-cell-selectable-actionable{
	&:hover{
		background:none;
	}
}

.transaction-line-views-cell-selectable-actionable-image{
	color: inherit;
}

.transaction-line-views-cell-selectable-actionable-details{
	color: inherit;
}

.transaction-line-views-cell-selectable-actionable-actions{
	color: inherit;
}

.transaction-line-views-cell-selectable-actionable-name-link{
	@extend .sc-value;
}

.transaction-line-views-cell-selectable-actionable-thumbnail-img{
	width:15px;;
}

.transaction-line-views-cell-selectable-actionable-price .item-view-lead-price{
	@extend .sc-value;
}

.transaction-line-views-cell-selectable-actionable-sku{
	font-size:12px;
}

.transaction-line-views-cell-selectable-actionable-qty{
	clear:both;
	display:block;
	width:100%;
}

.transaction-line-views-cell-selectable-actionable-qty input[type=number]{
    float: left;
    width: 60px;
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    text-align: right;
    color: red;
    background: red;
    outline: none;
    border: 0px;
}

.transaction-line-views-cell-selectable-actionable-label-qty{
	float: left;
	margin-right: 15px;
	line-height: 40px;
}

.transaction-line-views-cell-selectable-actionable-amount{
	clear:both;
	display:block;
}






