.global-views-rating-by-star {
    display: inline-block;
    width: 100%;
    clear: both;
    padding: 0;
    margin-bottom: 15px;

    @media (min-width: $screen-sm-min){
        display: block;
    }
}
.global-views-rating-by-star-label {
    color: inherit;
    @extend .sc-value;
    @extend .sc-value;
    padding:0;
    color:red;

    @media (min-width: $screen-sm-min){
        padding: 0 12px;
    }
}
.global-views-rating-by-star-second-label {
    color: inherit;
    @extend .sc-value;
    @extend .sc-value;
    padding-right:0;
    color:red;

    @media (min-width: $screen-sm-min){
        padding: 0 12px;
    }
}
.global-views-rating-by-star-percentage-area {
    color: inherit;
    @extend .sc-value;
    @extend .sc-value;
    padding:0;

    @media (min-width: $screen-sm-min){
        padding: 0 12px;
    }
}
.global-views-rating-by-star-percentage-area-progress-bar {
    @extend .sc-value;
    border-radius:0px;
    background-color:red;
    margin-bottom: 0;

    @media (min-width: $screen-sm-min){
    margin-bottom: 15px;
    }
}
.global-views-rating-by-star-percentage-area-progress-bar-filled {
    @extend .sc-value;
    background-color:red;
}
.global-views-rating-by-star-label-percentage {
    color: red;
    width: 35px;
    display: none;

    @media (min-width: $screen-sm-min){
        display: inline-block;
    }
}


